body
{
	background-color: #A7BEF7;
}

.div1
{
	background-color: white;
	width: 50%;
	height: 50%;
}

.div2
{
	background-color: white;
	width: 50%;
	height: 50%;
}

.div3
{
	background-color: white;
	width: 50%;
	height: 50%;
}